.menuBar{
  background-color: #242;

  .appName{
    padding: 10px;
    font-size: 28pt;
    font-family: serif;
    color: #EEE;
    font-weight: 900;
  }
  .userName{
    padding: 10px;
    font-size: 16pt;
    color: #DDF;
  }
}
